Package: qt-uoskit-dbgsym
Source: qt-uoskit
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: WangChengYu <wangchengyu@uniontech.com>
Installed-Size: 25
Depends: qt-uoskit (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for qt-uoskit
Build-Ids: 7f914ac2ebd6c104349fa72b724bfa1b3837384d
